<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light couleur" >
  <a class="navbar-brand" >Annuaire Salle de sport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" (click)="cs.gotoacceuil()">Acceuil <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" (click)="cs.goToAdd()">Ajouter</a>
    </div>
  </div>

<div class="d-flex align-content-around">
    <input class="form-control mr-sm-2 " type="search" [(ngModel)]="cs.critere" placeholder="id/cin/nom/prenom/numero" aria-label="Search">
  <input class="form-control mr-sm-2 " type="search" [(ngModel)]="cs.valeur" aria-label="Search" placeholder="valeur">
    <button class="btn btn-outline-light my-2 my-sm-0 mx-1 h-25" type="submit" (click)="cs.rechercheindice1(cs.critere,cs.valeur)">Search</button>
  <a class="mod"  style="color: #154D65" >recherche d'un client selon {{cs.critere}} ayant valeur {{cs.valeur}}</a>
  <button type="button" class="btn btn-secondary mx-3 " (click)="cs.deconnecter()">deconnecter</button>
</div>
</nav>





  <fieldset *ngIf="cs.affichcl" class=" text-center ">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CIN</th>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">NUMERO</th>

      </tr>
      </thead>
      <tbody>
      <tr>

        <td>{{cs.idr}}</td>
        <td>{{cs.cinr}}</td>
        <td>{{cs.nomr}}</td>
        <td>{{cs.prenomr}}</td>
        <td>{{cs.numeror}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning" (click)="cs.gotomodifier(cs.idr)" >Modifier</button>
          <button type="button" class="btn btn-outline-danger" (click)="cs.deleteclient(cs.idr)">Supprimer</button>
        </td>
      </tr>

      </tbody>
    </table>
  </fieldset>

<app-fils [nombre]="cs.nbr" (msgsomme)="cs.showw($event)" ></app-fils>
<div *ngIf="cs.affiche==true" class="modifcol">le rendement du salle de sport est : {{cs.sommerendement}} DT</div>




<div class="form-group row">
  <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Recherche</label>
  <div class="col-sm-6">
    <input type="text" [(ngModel)]="searchValue"  class="form-control" id="search" />
  </div>
</div>


<table class="table table-hover mx-5">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">CIN</th>
    <th scope="col">NOM</th>
    <th scope="col">PRENOM</th>
    <th scope="col">NUMERO</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of cs.listclients | recherche:searchValue|paginate: {itemsPerPage:6,currentPage:p} "  (click)="cs.gotomodifier(item.id)">
    <th scope="row">{{item.id}}</th>
    <td>{{item.cin}}</td>
    <td>{{item.nom}}</td>
    <td>{{item.prenom}}</td>
    <td>{{item.numero}}</td>
    <td>
      <button type="button" class="btn btn-outline-warning"(click)="cs.goToModify(item.id)">Modifier</button>

      <button type="button" class="btn btn-outline-danger" (click)="cs.deleteclient(item.id)">Supprimer</button>

    </td>
  </tr>
  </tbody>
</table>

<pagination-controls  class="text-center" (pageChange)="p = $event"></pagination-controls>
</body>
